html {
  background-color: #333;
  color: #6feff9;
  font-family: "Ubuntu Mono", monospace;
}

.blue-btn {
  color: #6feff9;
}

#alert {
  transform: scale(0);
  animation: alert-grow 3s linear infinite;
}

@keyframes alert-grow {

  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(0);
  }

}

#compass {
  color: #f62e52;
}

#hq {
  color: #ffd31d;
}
